{% extends 'index.html' %}
{% load static %}
{% block content%}
<div class="bg-cream">
    <div class="max-w-screen-xl px-8 flex">
            <center>
                <h1 data-aos="fade-down" data-aos-once="true" class="my-4 text-xl font-bold leading-tight text-darken capitalize">
                    <span> tentang pembuat <span>
                </h1>
                <img data-aos="fade-down" src="https://i.postimg.cc/cL5nVkh1/3135715.png" alt="Founder"><br>
                <p data-aos="fade-up" data-aos-once="true" data-aos-delay="300" class="leading-normal text-sm mb-8 mr-16 ml-16">Nevin Adel Ramaputra dan Reza Fahrizal Barkah adalah pembuat website ini, dua Mahasiswa yang berasal dari Bandung, Jawa Barat. Berstatus sebagai mahasiswa aktif di UPI Serang.</p>	
                <p data-aos="fade-up" data-aos-once="true" data-aos-delay="300" class="leading-normal text-sm mb-8 mr-16 ml-16">Keduanya berumur 19 Tahun dan mempunyai keahliannya masing masing dalam membuat website ini, seperti bagian style dan css dikerjakan oleh Nevin dan program dan olah data dikerjakan oleh Reza.</p>	
                <p data-aos="fade-up" data-aos-once="true" data-aos-delay="300" class="leading-normal text-sm mb-8 mr-16 ml-16">Tujuan utama pembuatan website ini adalah untuk memberikan kemudahan dalam mencari data MSY terkait PPN di Karangantu, juga dapat menampilkan hasil yang berupa grafik dan peta persebaran ikan yang ada</p>	
            </center>
    </div>
</div>
{% endblock %}